.header{
    text-align: center;
    margin: 5px auto;
    width: 300px;
    border-radius: 20px;
    padding: 5px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
    
    background-color:rgb(192, 189, 189);
}